@import "tailwindcss";
.upload-container {
  max-width: 700px;
  background: #fff;
  padding: 25px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.upload-form input,
.upload-form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.preview-box img {
  width: 150px;
  margin-top: 10px;
  border-radius: 8px;
}

.msg {
  margin-top: 10px;
  font-weight: bold;
  color: #007bff;
}

.btn {
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:disabled {
  background: #777;
  cursor: not-allowed;
}

.book-details-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

.book-details {
  display: flex;
  gap: 25px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
}

.book-details-cover {
  width: 260px;
  height: 360px;
  object-fit: cover;
  border-radius: 10px;
}

.book-info h1 {
  margin: 0;
}

.description {
  margin-top: 12px;
  line-height: 1.6;
  color: #444;
}

.download-btn {
  margin-top: 15px;
  display: inline-block;
}

.reviews-container {
  margin-top: 30px;
}

.review-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

.review-card {
  background: #fff;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
}

.star {
  font-size: 22px;
  cursor: pointer;
  color: #ccc;
}

.star.filled {
  color: gold;
}

.comment {
  margin: 8px 0;
  font-style: italic;
}

.tagline {
  font-family: "Playwrite CZ", cursive;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

.logo{
  height: 50px;
}
.po{
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}